.main-chat
  .ChatInfo
    .ChatInfo__about
      = @group.name
      .ChatInfo__about--menber
        menber: 
        - @group.users.each do |user|
          = "#{user[:name]}"

    .ChatInfo__edit
      = link_to edit_group_path(@group) do
        Edit

  .messages
    = render @messages

  .sending
    =form_for [@group, @message] do |f|
      = f.text_field :content, class: 'sending__text', placeholder: 'メッセージを入力'
      .sending__image
        = f.label :image, class: "sending__image__box" do
          <i class="far fa-image fa-lg"></i>
          = f.file_field :image
      = f.submit 'Send', class: 'sending__submit'