.side_bar
  .SideHeader
    .user
      .user__name
        = current_user.name
      .user__icon
        = link_to new_group_path, class: "user__icon--create" do
          <i class="fa fa-edit"></i>
        = link_to edit_user_path(current_user.id), class: "user__icon--edit" do
          <i class="fa fa-cog"></i>

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message